[Unit]
Description=Papertrail
After=systemd-journald.service
Requires=systemd-journald.service

[Service]
ExecStart=/bin/sh -c "journalctl -f | ncat --ssl <%= @address -%> <%= @port -%>"
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
